.stack {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.gapNone {
  gap: var(--semantic-space-stack-none);
}

.gapSm {
  gap: var(--semantic-space-stack-sm);
}

.gapMd {
  gap: var(--semantic-space-stack-md);
}

.gapLg {
  gap: var(--semantic-space-stack-lg);
}
